
<span class="contact100-About-title">
    About OneMITS
</span>

<div id="tab2" class="w-container  city">
    <div class="set-Info">
        <div class="input-fr">
            ONEMITS is designed and created with a vision to unite all MITS students and professors in 
            one platform and give a way to create link by a Forum cum Social website designed only for  MITS.
            Here one can share their work in any area and can also ask for others help and can  seek answers for
            their questions regarding MITS or their branch.
        </div>
    </div>
</div>

<span class="contact100-About-title">
    Specifications
</span>

<div id="tab2" class="w-container  city">
    <div class="set-Info">
        <div class="input-fr">
            1. ONEMITS comes with the package of Discussion Forum where one can question about any  topic students and professors can also
            answer it.</br></br>
            2. Surveys are included in websites where one can take survey about anything and anyone  can answer it within span of seconds.</br></br>
            3. Events pages are also included where one can see the upcoming official events that are  going to held in MITS. </br></br>
            4. Education Page is also included where one can download and upload study materials  related to their studies and about some
            emerging technologies. 
        </div>
    </div>
</div>

<span class="contact100-About-title">
    Goals
</span>

<div id="tab2" class="w-container  city">
    <div class="set-Info">
        <div class="input-fr">
            1. To connect all professors and students to ONEMITS and can bring unity to help the  one with his  work. <br /><br />
            2. To create an atmosphere where one can freely ask anything to anyone and can also  share his/her thoughts in public. 
        </div>
    </div>
</div>

<span class="contact100-Team-title">
    <button type="button" class=" btn-team" data-toggle="collapse" data-target="#demo">
        Our Team
    </button>
</span>

<div id="tab2" class="w-container  city">
    <div class="set-Team collapse" id="demo">
        <div class="input-fr">
                <section class="team-page-section">
                    <div class="containerteam">
                        <!-- Sec Title -->
                        <div class="row clearfix">

                            <!-- Team Block -->
                            <div class="team-block col-lg-4 col-md-6 col-sm-12">
                                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                    <ul class="social-icons">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                    <div class="image">
                                        <a href="#"><img src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <h3><a href="#"> Rishabh Titvilas</a></h3>
                                        <div class="designation">Developer</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Team Block -->
                            <div class="team-block col-lg-4 col-md-6 col-sm-12">
                                <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                                    <ul class="social-icons">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                    <div class="image">
                                        <a href="#"><img src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="" /></a>
                                    </div>
                                    <div class="lower-content">
                                        <h3><a href="#">Nishant Raghuvanshi</a></h3>
                                        <div class="designation">Designer & Developer</div>
                                    </div>
                                </div>
                            </div>
                            <!-- Team Block -->


                        </div>
                    </div>
                </section>
        </div>
    </div>
</div>


