@page
@model OneMits.Views.Home.NotFoundModel
@{
}



    <div class="noreply">
        <h3>
            Data Not Found <br /><br /><br />
            OR <br /><br /><br />
            Enrollment Number and DoB not match<br />
        </h3>
    </div>